include README.md
include LICENSE
include pyproject.toml
recursive-include browserforge *.py
recursive-include browserforge/fingerprints *
recursive-include browserforge/headers *
recursive-include browserforge/injectors *
global-exclude *.pyc
global-exclude __pycache__/* 